/**
 * Workspace Header Component
 *
 * Author:
 * -------
 * Ranjoy Sen
 *
 * Purpose:
 * --------
 * Provides styling for the shared workspace
 * header component.
 */

/*------------------------------------------------------------------------------
 * Workspace Header
 *----------------------------------------------------------------------------*/

.workspace-header {
  margin-bottom: 24px;

  border-radius: 16px;
}

/*------------------------------------------------------------------------------
 * Card Title
 *----------------------------------------------------------------------------*/

ion-card-title {
  font-size: 1.6rem;

  font-weight: 600;
}

/*------------------------------------------------------------------------------
 * Card Subtitle
 *----------------------------------------------------------------------------*/

ion-card-subtitle {
  margin-top: 8px;

  font-size: 1rem;

  opacity: 0.8;
}
