@import '@fontsource/inter';

/**
 * Cortex Global Styles
 *
 * Author:
 * -------
 * Ranjoy Sen
 *
 * Purpose:
 * --------
 * Provides application-wide styles that are not
 * component-specific.
 */

html,
body,
ion-app {
  font-family: var(--cortex-font-family);

  background: var(--cortex-background);

  color: var(--cortex-text-primary);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--cortex-border);

  border-radius: var(--cortex-radius-round);
}
